<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .container {
        max-width: 960px;
      }
      
      .pricing-header {
        max-width: 700px;
      }
    </style>
    
  </head>
  
  <body>
  
  <section class="d-none">
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
  </section>

  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}/about">Fitur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/">Harga</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">Mulai sekarang</button>
        </form>
      </div>
    </div>
  </nav>
  
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Kemudahan menu digital mulai dari Rp 3.300 per hari</h1>
          <p class="lead text-muted">Maksimalkan potensi bisnis, hemat biaya dan tingkatkan pengalaman pelanggan bisnis Anda sekarang juga!
  Ayo segera beralih ke Digital Menu!</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Daftar Menoo Sekarang</a>
            <a href="#" class="btn btn-secondary my-2">Lihat Demo</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 themed-grid-col">.col-md-8</div>
        <div class="col-md-4 themed-grid-col">.col-md-4</div>
      </div>
    </div>
  </section>
    
  <section class="py-5 container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2 class="fw-light">Harga</h2>
      <p class="lead">Harga kami fleksibel, cocok untuk segala ukm ataupun korporasi.</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Silver</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp 450rb <small class="text-muted">/<br> bulan</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Gold</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp 800rb <small class="text-muted">/<br> bulan</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Platinum</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp 1,5jt <small class="text-muted">/<br> bulan</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
      </div>
    </div>
  </section>
  
  <footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Fitur</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Pawoon Integrasi</a></li>
          <li><a class="link-secondary" href="#">MOKKA Integrasi</a></li>
          <li><a class="link-secondary" href="#">Manual Integrasi</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Afiliasi</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Aplikasi Sales Kanvas</a></li>
          <li><a class="link-secondary" href="#">Aplikasi ERP</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Tentang</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Tim</a></li>
          <li><a class="link-secondary" href="#">Lokasi</a></li>
        </ul>
      </div>
    </div>
  </footer>
  
  {% include analytics.html %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  </body>
</html>
